<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/Name.cshtml" method="post">
        <input type="text" value="Robert Paulson" id="name" name="name" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
