@{
    if (Session["rules"] == null)
    {
        Session["rules"] = new List<string>();
    }

    if (!String.IsNullOrEmpty((String) Request.Form["rule"]))
    {
        ((List<String>)Session["rules"]).Add(Request.Form["rule"]);
    }

    var rules = (List<String>)Session["rules"];
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="" method="post">
        <input type="text" value="funny rule" id="rule" name="rule" />
        <input type="submit" value="Add" />
    </form>
    <ul>
        @{
            if (rules != null)
            {
                foreach (var rule in rules)
                {
                    <li>@rule</li>
                }

            }
        }
    </ul>
</body>
</html>